<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DigiWeather.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>DigiWeatherWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA17D13D203EDB5D00040BAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA17D151203EDB5E00040BAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA17D15C203EDB5E00040BAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAB417F120447F41009CBF16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
